In [120]:
import pandas 
import matplotlib.pyplot as plt
import numpy as np

In [121]:
data = pd.read_csv('UNCC_Termination 2017.csv')

In [122]:
data.head()

,Personnel No.,Entry,Action type,Personnel Subarea,Personnel Area,Chngd on,Reason for action,Leaving date,Cost Ctr,Cost Center,Functional Area,Gender Key,Birth date,Job
0,60000028,10/11/2007,30 Termination,Valdosta,US-GA-Valdosta-Best Drive,5/1/2017,V0 Resignation unknown/Other,4/21/2017,98653,BD Hill Valdosta Ret,NaN,Male,1/22/1985,Retread Tech I
1,60000033,5/29/2013,30 Termination,"GA, Valdosta",US-All-Best Drive,4/4/2017,V3 Accepted other employment,3/25/2017,98653,BD Hill Valdosta Ret,NaN,Male,8/9/1992,Retread Tech I
2,60000038,4/1/2010,30 Termination,"GA, Forest Park",US-All-Best Drive,8/3/2017,V3 Accepted other employment,7/21/2017,98651,BD Hill ForrestPa Re,NaN,Male,12/28/1972,Retread Tech I
3,60000062,6/17/2015,30 Termination,Forest Park,US-GA-Forest Park-Best Drive,9/25/2017,V0 Resignation unknown/Other,9/22/2017,98051,BD Hill ForrestPa,NaN,Male,3/1/1975,Service Tech II
4,60000068,4/20/2015,30 Termination,"GA, Forest Park",US-All-Best Drive,6/5/2017,V0 Resignation unknown/Other,4/28/2017,98054,BD Hill Birmingham S,NaN,Male,4/12/1981,Commercial Sales Associate

In [123]:
data['Gender Key'].value_counts()

Male       1694
unknown    1213
Female      554
Name: Gender Key, dtype: int64

In [124]:
data['Action type'].value_counts()

30 Termination             1985
32 Termination external    1476
Name: Action type, dtype: int64

In [125]:
for col in ['Personnel No.',  'Action type', 'Personnel Area', 'Personnel Subarea', 
            'Reason for action', 'Leaving date', 'Cost Ctr', 'Cost Center', 'Functional Area', 
           'Gender Key', 'Birth date', 'Job']:
    data[col] = data[col].astype('category')

In [126]:
data.dtypes

Personnel No.        category
Entry                  object
Action type          category
Personnel Subarea    category
Personnel Area       category
Chngd on             category
Reason for action    category
Leaving date         category
Cost Ctr             category
Cost Center          category
Functional Area      category
Gender Key           category
Birth date           category
Job                  category
dtype: object

In [143]:
data['Entry']=  pandas.to_datetime(data['Entry'], infer_datetime_format=True)
data['Chngd on']=  pandas.to_datetime(data['Chngd on'], infer_datetime_format=True)
data['Leaving date']=  pandas.to_datetime(data['Leaving date'], infer_datetime_format=True)
data['Birth date']=  pandas.to_datetime(data['Birth date'], infer_datetime_format=True)

In [144]:
data.dtypes

Personnel No.              category
Entry                datetime64[ns]
Action type                category
Personnel Subarea          category
Personnel Area             category
Chngd on             datetime64[ns]
Reason for action          category
Leaving date         datetime64[ns]
Cost Ctr                   category
Cost Center                category
Functional Area            category
Gender Key                 category
Birth date           datetime64[ns]
Job                        category
dtype: object